body {
    background-color: rgb(230, 123, 123);
    color: #111;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin-left: 20px;
    font-size: 85%;
}
.embedded {
    color: rgb(218, 51, 51);
}
mark{
    color:red;
}